///*------------------------------------*\
//   #GLOBAL
//\*------------------------------------*/

// Predefined project variables which will override the inuitcss defaults.

// High-level base settings.
$inuit-base-font-size:                      12px;
$inuit-base-line-height:                    24px;
$inuit-widths-columns-responsive:           12;





// Site settings.
// $base-round:                                0;
// $base-border-width:                         4px;
// $base-max-width:                            1100px;
// $base-max-width--wide:                      1276px;
// $base-transition-speed:                     0.3s;
// $base-font-size-responsive:                 12px;
// $base-line-height-responsive:               22px;





// Button settings
// $inuit-btn-border-width:                    0;
// $inuit-enable-btn--full:                    true;
// $inuit-enable-btn--small:                   true;





// Heading settings.
// $inuit-heading-size-1:                      36px;
// $inuit-heading-size-2:                      30px;
// $inuit-heading-size-3:                      24px;
// $inuit-heading-size-4:                      20px;





// Layout settings
// $inuit-enable-layout--middle:               true;
// $inuit-enable-layout--auto:                 true;